## メモ

ロケットのシミュレータ
https://github.com/pyjbooks/PyRockSim

## 便利いろいろ

In [1]:
! explorer .

# パッケージ

## インストールされているライブラリ

In [1]:
! pip freeze

agate==1.6.0
agate-dbf==0.2.0
agate-excel==0.2.1
agate-sql==0.5.2
anaconda-client==1.6.5
appdirs==1.4.3
asn1crypto==0.22.0
astroid==1.5.3
attrs==17.2.0
Automat==0.6.0
babel==2.5.0
backports.weakref==1.0rc1
basemap==1.1.0
beautifulsoup4==4.6.0
bleach==1.5.0
bokeh==0.12.10
certifi==2017.7.27.1
cffi==1.10.0
chainer==2.1.0
chardet==3.0.4
click==6.7
cloudpickle==0.4.0
clyent==1.2.2
colorama==0.3.9
comtypes==1.1.2
constantly==15.1.0
cryptography==1.8.1
cssselect==1.0.1
csvkit==1.0.2
cycler==0.10.0
Cython==0.26
cytoolz==0.8.2
dask==0.15.3
dbfread==2.0.7
decorator==4.1.2
distributed==1.19.1
entrypoints==0.2.3
et-xmlfile==1.0.1
fbprophet==0.2
filelock==2.0.12
Flask==0.12.2
Flask-Cors==3.0.3
Flask-Login==0.4.0
Flask-WTF==0.14.2
future==0.16.0
gitdb2==2.0.0
GitPython==2.1.3
h5py==2.7.0
heapdict==1.0.0
holoviews==1.8.3
html5lib==0.9999999
httplib2==0.10.3
hyperlink==17.1.1
hypothesis==3.23.0
idna==2.6
imageio==2.2.0
incremental==17.5.0
ipykernel==4.6.1
ipython==6.1.0
ipython-genutils==0.2.0
ipywidgets==7.0.0
isodate==0.6.0
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter-client==5.1.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.3.3
jupyter-core==4.3.0
jupyter-highlight-selected-word==0.0.10
jupyter-latex-envs==1.3.8.2
jupyter-nbextensions-configurator==0.2.8
jupyterlab==0.27.0
jupyterlab-launcher==0.4.0
Keras==2.0.6
keras-rl==0.3.1
lazy-object-proxy==1.3.1
leather==0.3.3
locket==0.2.0
lxml==4.1.0
mako==1.0.7
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.1.0
mccabe==0.6.1
mistune==0.7.4
mock==2.0.0
msgpack-python==0.4.8
nb-anacondacloud==1.4.0
nb-conda==2.2.0
nb-conda-kernels==2.1.0
nbconvert==5.3.1
nbdime==0.3.0
nbformat==4.4.0
nbpresent==3.0.2
networkx==2.0
nose==1.3.7
notebook==5.0.0
numpy==1.13.3
olefile==0.44
opencv-python==3.3.1
openpyxl==2.4.8
packaging==16.8
pandas==0.20.3
pandas-datareader==0.5.0
pandas-profiling==1.4.0
pandasql==0.7.3
pandocfilters==1.4.2
param==1.5.1
parsedatetime==2.4
parsel==1.2.0
partd==0.3.8
pbr==3.1.1
pickleshare==0.7.4
Pillow==4.2.1
pkgconfig==1.2.2
prompt-toolkit==1.0.15
protobuf==3.3.2
psutil==5.4.0
py4j==0.10.6
pyasn1==0.3.7
pyasn1-modules==0.0.8
PyAutoGUI==0.9.36
pycparser==2.18
PyDispatcher==2.0.5
pydot==1.2.3
Pygments==2.2.0
pygpu==0.6.9
pylint==1.7.4
Pympler==0.5
PyMsgBox==1.0.6
pyOpenSSL==17.0.0
pyparsing==2.2.0
pyproj==1.9.5.1
PyScreeze==0.1.13
pyshp==1.2.12
PySocks==1.6.7
pystan==2.17.0.0
python-dateutil==2.6.1
python-redmine==2.0.2
python-slugify==1.2.4
pytimeparse==1.1.7
PyTweening==1.0.3
pytz==2017.2
PyWavelets==0.5.2
pywin32==221
PyYAML==3.12
pyzmq==16.0.2
queuelib==1.4.2
requests==2.18.4
requests-file==1.4.1
requests-ftp==0.3.1
scikit-image==0.13.0
scikit-learn==0.19.1
scikit-rf==0.14.5
scipy==0.19.1
Scrapy==1.4.0
selenium==3.6.0
service-identity==17.0.0
simplegeneric==0.8.1
six==1.11.0
smmap2==2.0.1
sortedcontainers==1.5.7
SQLAlchemy==1.1.13
tblib==1.3.2
tensorflow==1.2.1
testpath==0.3.1
tflearn==0.3.2
Theano==0.9.0
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
Twisted==17.9.0
Unidecode==0.4.21
urllib3==1.22
w3lib==1.18.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==3.0.2
win-inet-pton==1.0.1
wincertstore==0.2
winspeech==1.0.1
wrapt==1.10.11
WTForms==2.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlutils==2.0.0
xlwings==0.11.4
xlwt==1.3.0
zict==0.1.3
zope.interface==4.4.3

## アップデート

In [ ]:
pip install -U keras

# Jupyter Notebook

## Jupyter Notebookをより便利に使うために、色々まとめ
https://qiita.com/ishizakiiii/items/b98bbf8997f039f40058

## jupyterのマジックコマンド

- %who      : 宣言されている変数一覧の表示
- %whos     : 宣言されている変数一覧の詳細表示(型と値)
- obj?      : Objectの型と値の表示
- %quickref : サポートされるMagic Commandの一覧の表示
- %matplotlib inline : jupyter内に表示させる

In [ ]:
%quickref

## jupyterのテーマカラーが超簡単にかっこよくなる『jupyterthemes』
http://www.procrasist.com/entry/2017/09/18/130300

# ビープ音

In [1]:
from winsound import Beep
Beep(1000,500)

# 文字列

- 文字列を末尾から表示する

In [2]:
text='abcdefghijklmnopqrstuvwxyz'
text[::-1]

'zyxwvutsrqponmlkjihgfedcba'

# モジュールのリロード

import importlib
importlib.reload(モジュール名)

# pathと環境変数の設定（ユーザ環境変数）
http://www.atmarkit.co.jp/ait/articles/0803/28/news145.html

環境変数のセット

In [ ]:
! setx sikuli_home "%jupyter_home%\root\N96_sikuli"

In [3]:
! setx python_exe_path "C:\Users\mineo\Anaconda3\envs\mine01\python.exe"

成功: 指定した値は保存されました。

環境変数のリスト

In [ ]:
os.environ.items

環境変数のセット（テンポラリ）

In [ ]:
import os
os.environ["HOGE"] = "ABCDEFG"

In [ ]:
Pathに項目追加（テンポラリ）

In [5]:
import sys,os
sys.path.append(os.path.join(os.environ["JUPYTER_HOME"],"common","000_lib"))

# 日付と時間

In [2]:
import datetime
# tdatetime = datetime.datetime.now()
# tstr = tdatetime.strftime('%Y%m%d')
tstr =datetime.datetime.now().strftime('%Y%m%d')
print(tstr)

20170720

# ファイルの操作

## ショートカットの作成

In [4]:
## -*- coding: utf-8 -*-
import os.path
import win32com.client

def createShortCut(path,scFileName,icon=None):
    """
    デスクトップにショートカットファイルを作成する
    """
    if icon == None:
        icon = path

    shell   = win32com.client.Dispatch('WScript.shell')
    desktop = shell.SpecialFolders('Desktop')

#     shCut                  = shell.CreateShortcut(os.path.join(desktop,scFileName+".lnk"))
    shCut                  = shell.CreateShortcut(os.path.join(path,scFileName+".lnk"))
    shCut.TargetPath       = path
    shCut.WindowStyle      = 1
    shCut.IconLocation     = icon
    shCut.WorkingDirectory = desktop

    shCut.Save()

In [5]:
home_path=os.environ["jupyter_home"]
createShortCut(home_path,"test")

## 情報の取得

In [ ]:
import os,glob
home_path=os.environ["sikuli_home"]
os.chdir(home_path)
a=os.getcwd()#現在の場所を取得
b=glob.glob("*")#現在の場所のファイルを取得 *はワイルドカード
c=os.path.basename(home_path)#現在のフォルダ名を取得

## ディレクトリやファイルのコピー

In [ ]:
import os, shutil
t_path=os.path.join(os.environ["jupyter_home"],'N01_work/001_株/kabu_lib/copy_moto.py')
c_path=os.path.join(os.environ["userprofile"],"kabu_lib",( str(i) + ".py"))
shutil.copyfile(t_path, c_path)#ファイルのコピー
shutil.copytree(t_path, c_path)#ディレクトリのコピー

In [1]:
import os, shutil
filepath = "c:\\temp\\dir\\filename.txt"
print (os.path.basename(filepath))

filename.txt

# pythonから実行

In [ ]:
import win32com.client
wshShell = win32com.client.Dispatch("WScript.Shell")
wshShell.Run("notepad.exe")

# List
- [Python] 何度も調べてしまうリスト操作をまとめてみた](http://www.yoheim.net/blog.php?q=20150801)
- [ボンジニアの備忘録(リストの使い方とかいろいろ）](http://yujikawa11.hatenablog.com/entry/2017/09/27/224014)

## 要素の存在確認
リストに文字列がない場合に、meiを追加する

In [15]:
list01 = ["1235","5245","3254","1254","5547"]
mei="7777"
if not(mei in list01):
    list01.append(mei)
list01

['1235', '5245', '3254', '1254', '5547', '7777']

## リストの一番最初に追加

In [2]:
list.insert(0,"時間")
list

['時間', 'A', 'B', 'C']

# pandas

## [<span class="mark">まとめ</span>](pandas.ipynb)
## [<span class="mark">グラフ化(web)</span>](https://python-graph-gallery.com/)

## 基本のコマンド一覧
http://qiita.com/tanemaki/items/2ed05e258ef4c9e6caac

## webから表データを取得する
http://qiita.com/kitsuyui/items/4906bb457af4d0e2d0a5

In [5]:
import pandas as pd
url = 'https://www.rakuten-sec.co.jp/MarketSpeed/onLineHelp/msman1_11_6a.html'
fetched_dataframes = pd.io.html.read_html(url)

In [6]:
df=fetched_dataframes[0]

In [7]:
df

,Unnamed: 0,情報項目,RSS関数,表示例,備考
0,1,銘柄コード,RSS|'9501.T'!銘柄コード,9501,NaN
1,2,市場コード,RSS|'9501.T'!市場コード,T,東証・マザーズともにT
2,3,銘柄名称,RSS|'9501.T'!銘柄名称,東京電力,NaN
3,4,市場名称,RSS|'9501.T'!市場名称,東証,NaN
4,5,市場部名称,RSS|'9501.T'!市場部名称,東証１部,東証1部 東証マザーズ
5,6,市場部略称,RSS|'9501.T'!市場部略称,東１,東1 東ﾏ
6,7,現在日付,RSS|'9501.T'!現在日付,2009/12/14,8：00～ 表示開始 表示形式-ﾕｰｻﾞｰ定義-YY-MM-DD
7,8,更新時刻,RSS|'9501.T'!更新時刻,9:58,8：00～ 表示開始 表示形式-時刻-13:30
8,9,現在値,RSS|'9501.T'!現在値,2206,～9：00 ブランク
9,10,現在値時刻,RSS|'9501.T'!現在値時刻,9:07,寄前表示 通常「--」 表示形式変更後「#########」
10,11,現在値詳細時刻,RSS|'9501.T'!現在値詳細時刻,9:07:31,秒単位まで表示 寄前表示 通常「--」 表示形式変更後「#########」
11,12,現在値ティック,RSS|'9501.T'!現在値ティック,↓,NaN
12,13,現在値フラグ,RSS|'9501.T'!現在値フラグ,C,NaN
13,14,前日比,RSS|'9501.T'!前日比,-19,NaN
14,15,前日比率,RSS|'9501.T'!前日比率,-0.85,NaN
15,16,前日終値,RSS|'9501.T'!前日終値,2225,NaN
16,17,前日日付,RSS|'9501.T'!前日日付,2009/12/5,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd
17,18,前日終値フラグ,RSS|'9501.T'!前日終値フラグ,C,NaN
18,19,歩み１,RSS|'9501.T'!歩み１,2216,NaN
19,20,歩み２,RSS|'9501.T'!歩み２,2206,NaN
20,21,歩み３,RSS|'9501.T'!歩み３,2207,NaN
21,22,歩み４,RSS|'9501.T'!歩み４,2211,NaN
22,23,歩み１時刻,RSS|'9501.T'!歩み１時刻,9:07,寄前表示 通常「--」 表示形式変更後「#########」
23,24,歩み２時刻,RSS|'9501.T'!歩み２時刻,9:07,寄前表示 通常「--」 表示形式変更後「#########」
24,25,歩み３時刻,RSS|'9501.T'!歩み３時刻,9:07,寄前表示 通常「--」 表示形式変更後「#########」
25,26,歩み４時刻,RSS|'9501.T'!歩み４時刻,9:07,寄前表示 通常「--」 表示形式変更後「#########」
26,27,歩み１詳細時刻,RSS|'9501.T'!歩み１詳細時刻,9:07:30,秒単位まで表示 寄前表示 通常「--」 表示形式変更後「#########」
27,28,歩み２詳細時刻,RSS|'9501.T'!歩み２詳細時刻,9:07:30,秒単位まで表示 寄前表示 通常「--」 表示形式変更後「#########」
28,29,歩み３詳細時刻,RSS|'9501.T'!歩み３詳細時刻,9:07:30,秒単位まで表示 寄前表示 通常「--」 表示形式変更後「#########」
29,30,歩み４詳細時刻,RSS|'9501.T'!歩み４詳細時刻,9:07:30,秒単位まで表示 寄前表示 通常「--」 表示形式変更後「#########」
...,...,...,...,...,...
122,123,最良買気配数量３,RSS|'9501.T'!最良買気配数量３,15000,NaN
123,124,最良買気配数量４,RSS|'9501.T'!最良買気配数量４,14400,NaN
124,125,最良買気配数量５,RSS|'9501.T'!最良買気配数量５,14900,NaN
125,126,最良買気配数量６,RSS|'9501.T'!最良買気配数量６,14200,NaN
126,127,最良買気配数量７,RSS|'9501.T'!最良買気配数量７,13200,NaN
127,128,最良買気配数量８,RSS|'9501.T'!最良買気配数量８,17600,NaN
128,129,最良買気配数量９,RSS|'9501.T'!最良買気配数量９,22000,MS14.0より表示
129,130,最良買気配数量１０,RSS|'9501.T'!最良買気配数量１０,26400,MS14.0より表示
130,131,売成行数量,RSS|'9501.T'!売成行数量,NaN,NaN
131,132,買成行数量,RSS|'9501.T'!買成行数量,NaN,NaN
132,133,売気配数量累計,RSS|'9501.T'!売気配数量累計,値なし#N/A,NaN
133,134,買気配数量累計,RSS|'9501.T'!買気配数量累計,値なし#N/A,NaN
134,135,OVER気配数量,RSS|'9501.T'!OVER気配数量,902300,NaN
135,136,UNDER気配数量,RSS|'9501.T'!UNDER気配数量,717200,NaN
136,137,単位株数,RSS|'9501.T'!単位株数,100,NaN
137,138,配当,RSS|'9501.T'!配当,60,NaN
138,139,配当落日,RSS|'9501.T'!配当落日,40263,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd
139,140,権利落日,RSS|'9501.T'!権利落日,- -,表示なし
140,141,ＰＥＲ,RSS|'9501.T'!ＰＥＲ,0,NaN
141,142,ＰＢＲ,RSS|'9501.T'!ＰＢＲ,1.19,NaN
142,143,当日基準値,RSS|'9501.T'!当日基準値,2215,NaN
143,144,翌日基準値,RSS|'9501.T'!翌日基準値,0.00,東証･ﾏｻﾞｰｽﾞ 0
144,145,年初来高値,RSS|'9501.T'!年初来高値,2710,～前日分まで
145,146,年初来安値,RSS|'9501.T'!年初来安値,2197,～前日分まで
146,147,年初来高値日付,RSS|'9501.T'!年初来高値日付,2009/12/2,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd
147,148,年初来安値日付,RSS|'9501.T'!年初来安値日付,2009/12/2,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd
148,149,上場来高値,RSS|'9501.T'!上場来高値,2710,～前日分まで
149,150,上場来安値,RSS|'9501.T'!上場来安値,2197,～前日分まで
150,151,上場来高値日付,RSS|'9501.T'!上場来高値日付,2009/12/2,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd
151,152,上場来安値日付,RSS|'9501.T'!上場来安値日付,2009/12/2,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd

## CSV入出力
http://pythondatascience.plavox.info/pandas/%E3%83%87%E3%83%BC%E3%82%BF%E3%83%95%E3%83%AC%E3%83%BC%E3%83%A0%E3%82%92%E5%87%BA%E5%8A%9B%E3%81%99%E3%82%8B

In [8]:
df.to_csv('heisei19to26.csv')

In [10]:
! explorer .

In [1]:
import pandas as pd

In [14]:
df=pd.read_csv("heisei19to26.csv", header=None, encoding="shift-jis")

In [15]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
0,NaN,0,1,2,3,4,5,6,7,8,...,142,143,144,145,146,147,148,149,150,151
1,Unnamed: 0,1,2,3,4,5,6,7,8,9,...,143,144,145,146,147,148,149,150,151,152
2,情報項目,銘柄コード,市場コード,銘柄名称,市場名称,市場部名称,市場部略称,現在日付,更新時刻,現在値,...,当日基準値,翌日基準値,年初来高値,年初来安値,年初来高値日付,年初来安値日付,上場来高値,上場来安値,上場来高値日付,上場来安値日付
3,RSS関数,RSS|'9501.T'!銘柄コード,RSS|'9501.T'!市場コード,RSS|'9501.T'!銘柄名称,RSS|'9501.T'!市場名称,RSS|'9501.T'!市場部名称,RSS|'9501.T'!市場部略称,RSS|'9501.T'!現在日付,RSS|'9501.T'!更新時刻,RSS|'9501.T'!現在値,...,RSS|'9501.T'!当日基準値,RSS|'9501.T'!翌日基準値,RSS|'9501.T'!年初来高値,RSS|'9501.T'!年初来安値,RSS|'9501.T'!年初来高値日付,RSS|'9501.T'!年初来安値日付,RSS|'9501.T'!上場来高値,RSS|'9501.T'!上場来安値,RSS|'9501.T'!上場来高値日付,RSS|'9501.T'!上場来安値日付
4,表示例,9501,T,東京電力,東証,東証１部,東１,2009/12/14,9:58,2206,...,2215,0.00,2710,2197,2009/12/2,2009/12/2,2710,2197,2009/12/2,2009/12/2
5,備考,NaN,東証・マザーズともにT,NaN,NaN,東証1部 東証マザーズ,東1 東ﾏ,8：00〜 表示開始 表示形式-ﾕｰｻﾞｰ定義-YY-MM-DD,8：00〜 表示開始 表示形式-時刻-13:30,〜9：00 ブランク,...,NaN,東証･ﾏｻﾞｰｽﾞ 0,〜前日分まで,〜前日分まで,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd,〜前日分まで,〜前日分まで,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd,表示形式-ﾕｰｻﾞｰ定義-yy-mm-dd

In [16]:
df=pd.read_csv("3070am20170807.csv", header=None, encoding="shift-jis")

In [17]:
df

,0,1,2,3,4,5,6,7,8,9,...,136,137,138,139,140,141,142,143,144,145
0,NaN,0,1.0,2,3,4,5,6,7,8,...,135.0,136.0,137.0,138,139,140.0,141.0,142,143,144.0
1,0.0,2017-08-07 08:59:51.603870,3070.0,T,17-08-07,08:56,,:,: :,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2,1.0,2017-08-07 08:59:51.603870,3070.0,T,17-08-07,08:56,,:,: :,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
3,2.0,2017-08-07 08:59:58.336871,3070.0,T,17-08-07,08:56,,:,: :,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
4,3.0,2017-08-07 09:00:01.881870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:00,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
5,4.0,2017-08-07 09:00:05.428870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
6,5.0,2017-08-07 09:00:08.822870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
7,6.0,2017-08-07 09:00:12.153870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
8,7.0,2017-08-07 09:00:15.708869,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
9,8.0,2017-08-07 09:00:19.344870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
10,9.0,2017-08-07 09:00:23.320870,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
11,10.0,2017-08-07 09:00:26.547871,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
12,11.0,2017-08-07 09:00:29.958871,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
13,12.0,2017-08-07 09:00:33.484871,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
14,13.0,2017-08-07 09:00:36.924871,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
15,14.0,2017-08-07 09:00:40.256872,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
16,15.0,2017-08-07 09:00:43.639873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
17,16.0,2017-08-07 09:00:46.920872,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
18,17.0,2017-08-07 09:00:50.340872,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
19,18.0,2017-08-07 09:00:53.796872,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
20,19.0,2017-08-07 09:00:57.302873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
21,20.0,2017-08-07 09:01:00.742873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
22,21.0,2017-08-07 09:01:04.414873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
23,22.0,2017-08-07 09:01:07.967873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
24,23.0,2017-08-07 09:01:11.254874,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
25,24.0,2017-08-07 09:01:14.918873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
26,25.0,2017-08-07 09:01:18.361873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
27,26.0,2017-08-07 09:01:21.859873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
28,27.0,2017-08-07 09:01:25.301873,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
29,28.0,2017-08-07 09:01:28.674874,3070.0,T,17-08-07,09:00,481.00,09:00,09:00:01,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2681,2680.0,2017-08-07 11:28:13.911624,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2682,2681.0,2017-08-07 11:28:18.013624,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2683,2682.0,2017-08-07 11:28:21.734625,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2684,2683.0,2017-08-07 11:28:25.360626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2685,2684.0,2017-08-07 11:28:28.738626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2686,2685.0,2017-08-07 11:28:32.510625,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2687,2686.0,2017-08-07 11:28:36.010626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2688,2687.0,2017-08-07 11:28:39.588626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2689,2688.0,2017-08-07 11:28:43.347626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2690,2689.0,2017-08-07 11:28:47.110626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2691,2690.0,2017-08-07 11:28:50.853626,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2692,2691.0,2017-08-07 11:28:54.633627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2693,2692.0,2017-08-07 11:28:58.174627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2694,2693.0,2017-08-07 11:29:01.843627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2695,2694.0,2017-08-07 11:29:05.198627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2696,2695.0,2017-08-07 11:29:08.514627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2697,2696.0,2017-08-07 11:29:11.808627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2698,2697.0,2017-08-07 11:29:15.178633,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2699,2698.0,2017-08-07 11:29:18.818627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2700,2699.0,2017-08-07 11:29:22.238627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2701,2700.0,2017-08-07 11:29:26.163627,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2702,2701.0,2017-08-07 11:29:29.951628,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2703,2702.0,2017-08-07 11:29:33.379629,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2704,2703.0,2017-08-07 11:29:36.825629,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2705,2704.0,2017-08-07 11:29:40.460629,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2706,2705.0,2017-08-07 11:29:44.159630,3070.0,T,17-08-07,11:17,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2707,2706.0,2017-08-07 11:29:47.822629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2708,2707.0,2017-08-07 11:29:51.008629,3070.0,T,17-08-07,11:29,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2709,2708.0,2017-08-07 11:29:54.820629,3070.0,T,17-08-07,11:29,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN
2710,2709.0,2017-08-07 11:29:58.587630,3070.0,T,17-08-07,11:29,485.00,10:49,10:49:36,,...,0.0,695.0,470.0,17-01-16,17-08-03,438000.0,470.0,07-02-07,17-08-03,NaN

## 表の表示設定
http://uyamazak.hatenablog.com/entry/2016/09/29/163534

In [ ]:
import pandas as pd

#カラム内の文字数。デフォルトは50だった
pd.set_option("display.max_colwidth", 80)
#行数
pd.set_option("display.max_rows", 101)

他のオプションはdir()などで確認できる

In [ ]:
dir(pd.options.display)

## list化

In [ ]:
li=df['情報項目'].values.tolist()

In [ ]:
li

# [matplotlib](matplotlib.ipynb)

# 標準入力

入力例1  
2  
3  


s = [input() for i in range(2)] #2回繰り返し s に値を取得  

N = int(input()) #1行目のNを取得  
s = [input() for i in range(N-1)] #N回繰り返し s に値を取得  
print(int(s[0])*N)

# subprocess
http://qiita.com/mokemokechicken/items/a84b0aa96b94d1931f08

## 一般
【渡す側のコード】
- args[スペースで区切る所が","下記の例では、python 実行するpythonファイル 受け渡す引数]
- out,errs=p.communicate():outは受け側のprint文の内容が出てくる。errsはエラーがあれば出てくる
- p.kill:プロセスを切る

In [13]:
import subprocess,os
args=["python",os.path.join(os.environ['JUPYTER_HOME'],"common","000_lib","window_handle.py"),"Market Speed"]
p=subprocess.Popen(args, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
try:
    out,errs=p.communicate()
except:
    p.kill
    out,ers=p.communicate()
print(out.decode("utf-8"))
print(errs.decode("utf-8"))

Market Speed

【受ける側のコード】
- sys.argv[i]に引数が入ってくる(i=1,2,3...)ちなみに、argv[0]はpathが入る
- encodeもdecodeもする必要なし。strの形で入ってきてくれる

In [11]:
import sys
#コード
if __name__ == '__main__':
    obj=window_ope()
    obj.taisho_name=sys.argv[1]
    print(obj.taisho_name)

## 投げっぱなしにする場合
親プロセスから必要に応じて、サブプロセスを複数投げる場合に必要
- 何かトリガが発生した場合に、サブプロセスを投げる

In [9]:
import subprocess
args=["C:\Program Files (x86)\MarketSpeed\MLauncher\MLauncher.exe" ,"MarketSpeed"]
p=subprocess.Popen(args)

# sikuli
- document http://sikulix-2014.readthedocs.io/en/latest/genindex.html
- command http://sikulix-2014.readthedocs.io/en/latest/faq/010-command-line.html

## サーバを立てて実行する
http://sikulix.weebly.com/support.html

- stop - stops the server
- startp - initiates a Jython runner, so the next run request will start the script without delay *
- scripts/folder/folder/folder/... - sets the folder where the runner finds the scripts **
- images/folder/folder/folder/... - sets the folder where the runner finds the images used in a script (image path) **
- run/script - looks for the script in the given folder and runs it (starts the respective runner if not yet done) ***

cd %sikuli_home%  
runsikulix -s

In [1]:
from selenium import webdriver
driver = webdriver.Chrome()
driver.get("http://localhost:50001/startp")
driver.get("http://localhost:50001/scripts/home/OneDrive/anaconda/root/101_script")

In [9]:
import os,subprocess

args=["C:\Program Files (x86)\MarketSpeed\MLauncher\MLauncher.exe" ,"MarketSpeed"]
p1=subprocess.Popen(args)
p1.wait()#処理待ちしない場合は、これを消す

driver.get("http://localhost:50001/run/login_rakuten.sikuli")

args=["C:\Program Files (x86)\MarketSpeed\MLauncher\MLauncher.exe" ,"RSS"]
p2=subprocess.Popen(args)
p2.wait()#処理待ちしない場合は、これを消す

0

In [16]:
driver.quit()

# tikinter

http://www.not-enough.org/abe/manual/program-aa08/pythontk1.html

# jupyterのdiff

# Python で線形方程式系を解く

<img  src="YWP6YFYMLD1XVFK3H4MHQKGC7GX89BWR.png"/>

In [1]:
import numpy as np

A = np.array([[6, 4, 1],
              [1, 8, -2],
              [3, 2, 0]])
b = np.array([7, 6, 8])

x = np.linalg.solve(A, b)

print(x)

[ 4. -2. -9.]

# Codeの使い方

## sikuliで作ったライブラリなどの補完機能を（Intellisense）追加

Use the setting python.autoComplete.extraPaths = []
For instance getting autocomplete/intellisense for Google App Engine, add the following to your settings file:
"python.autoComplete.extraPaths": [
"C:/Program Files (x86)/Google/google_appengine",
"C:/Program Files (x86)/Google/google_appengine/lib" ]

In [17]:
! explorer "%userprofile%\AppData\Roaming\Code\User"

https://qiita.com/t-mimura/items/e0f12ea5678b1a10bba3