In [ ]:
! explore

## 参考
- 基本のコマンド一覧
http://qiita.com/tanemaki/items/2ed05e258ef4c9e6caac

## サンプルデータフレーム
http://qiita.com/hik0107/items/d991cc44c2d1778bb82e

In [15]:
import pandas as pd

df_sample =\
pd.DataFrame([["day1","day2","day1","day2","day1","day2"],
              ["A","B","A","B","C","C"],
              [100,150,200,150,100,50],
              [120,160,100,180,110,80]] ).T  #とりあえず適当なデータを作ります
df_sample.columns = ["day_no","class","score1","score2"]  #カラム名を付ける
df_sample.index   = ["gad",12,13,14,15,16]  #インデックス名を付ける
df_sample

    day_no class score1 score2
gad   day1     A    100    120
12    day2     B    150    160
13    day1     A    200    100
14    day2     B    150    180
15    day1     C    100    110
16    day2     C     50     80

# データフレームを

# 時系列での取得データ
時系列で取得したデータを順々にデータフレームに追加していく

In [14]:
dfs=tr_df(k)
df1=df1.append(dfs, ignore_index=True)

C:\Users\mineo\Anaconda3\envs\mine01\lib\site-packages\pandas\core\indexes\api.py:77: RuntimeWarning: unorderable types: str() < int(), sort order is undefined for incomparable objects
  result = result.union(other)

  day_no class score1 score2     0    1      2      3
0   day1     A    100    120   NaN  NaN    NaN    NaN
1   day2     B    150    160   NaN  NaN    NaN    NaN
2   day1     A    200    100   NaN  NaN    NaN    NaN
3   day2     B    150    180   NaN  NaN    NaN    NaN
4   day1     C    100    110   NaN  NaN    NaN    NaN
5   day2     C     50     80   NaN  NaN    NaN    NaN
6    NaN   NaN    NaN    NaN  day5   CC  250.0  333.0

# 列を削除する
axis=1：列の削除であることを明記

In [17]:
df_sample.drop("day_no",axis=1)

    class score1 score2
gad     A    100    120
12      B    150    160
13      A    200    100
14      B    150    180
15      C    100    110
16      C     50     80

# 行を削除する
axis=0：行の削除であることを明記

In [18]:
df_sample.drop("gad",axis=0)

   day_no class score1 score2
12   day2     B    150    160
13   day1     A    200    100
14   day2     B    150    180
15   day1     C    100    110
16   day2     C     50     80

# 連結 (concatenate)
http://sinhrks.hatenablog.com/entry/2015/01/28/073327
axis=1：行の削除であることを明記

In [9]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5], index=[0,1,2,3,4])
s2 = pd.Series([10,20,30,40,50], index=[10,11,12,13,14])
s3 = pd.Series([100,200,300,400,500], index=[0,2,4,6,8])
pd.concat([s1, s2, s3], axis=1)

      0     1      2
0   1.0   NaN  100.0
1   2.0   NaN    NaN
2   3.0   NaN  200.0
3   4.0   NaN    NaN
4   5.0   NaN  300.0
6   NaN   NaN  400.0
8   NaN   NaN  500.0
10  NaN  10.0    NaN
11  NaN  20.0    NaN
12  NaN  30.0    NaN
13  NaN  40.0    NaN
14  NaN  50.0    NaN

In [4]:
df.style

NameError: name 'df' is not defined

# nonを落とす
pandasは通常np.nanで欠損値を表現。これらの欠損値は計算時には基本的に無視される。

In [2]:
df.dropna()	欠損値がひとつでも含まれていたら、行を落とす
df.dropna(how='all')	すべての値が欠損していたら、行を落とす
df.fillna(0)	欠損値を0で埋める
df.fillna(method='ffill')	前の値で欠損値を埋める

SyntaxError: invalid character in identifier (<ipython-input-2-5dc6df0e969b>, line 1)

# 頻度を出す

In [ ]:
df.apply(pd.value_counts)

# DataFrame や Series の重複データをチェック・削除－python
http://ailaby.com/duplicated/

####################
# DataFrame操作

# サンプルのデータフレーム
df = pd.DataFrame(arange(12).reshape((3, 4)), index=list("ABC"), columns=list("abcd"))


####
# 行、列の番号を指定してとりだす。
# 行番号指定
df.iloc[1, :]
 # df.ix[1,:]だと、'1'というインデックスを優先する

# 列番号指定
df.ix[ : , 1:3]
df.iloc[1]

# 行・列の両方を番号指定
df.ix[ 1: , 1:3]


####
# 行、列のインデックスを指定して取り出す。
# 列のインデックス指定
df[['a','c']]
df['a']だとSeriesで、df[['a']]だとデータフレームでとりだす

# 行のインデックス指定
df.ix['one']

# 行と列のインデックス指定
In [35]: df.ix['one':'three',['b','d']]
Out[35]: 
       b   d
one    1   3
two    5   7
three  9  11


# 特定の値での条件抽出
# このデータに対して例えば B が 50 より大きく， C が 900 の時の A のデータを検索する
df.loc[(df["B"] > 50) & (df["C"] == 900), "A"]
2    5
3    8

df[df.B > 50]


# キーを格納したベクトルがあり、それに一致する行ところだけ抽出
key = ['a', 'b', 'c', 'c']
# - キーから重複を除外
key2 = sorted(set(key), key=key.index)
# - 抽出
df.ix[key2,:] # これではNaN列ができる
df.ix[df.index.isin(key2),:]
#  + 列でも抽出できる
df.ix[:,df.columns.isin(key2)]


####################
# Series
 # Seriesは1次元配列で、インデックスというデータラベルとデータ自体の2つの要素がある。

obj = Series([4, 7, -5, 3])

# インデックスにアクセス
obj.index

# データにアクセス
obj.values
  # データの特定の要素にアクセス
  obj.values[0]


####################
# 重複操作
+ 重複があるかどうかしらべる。返り値はT/F
a.dupulicated()

+ 削除
a.drop_duplicates()

+ データフレームの重複削除
 - サンプルのデータフレーム
data = pd.DataFrame({'k1': ['one'] * 3 + ['two'] * 4, 'k2': [1, 1, 2, 3, 3, 4, 4], 'v1':range(7)})
 - 特定の列の重複だけ除外。最初の行だけ残る
data.drop_duplicates(['k1'])
data.drop_duplicates(['k2'])
 - 複数列でソート、最後の列を残す
data.drop_duplicates(['k1', 'k2'], take_last=True)

+ 重複しているものすべとぉ削除
    - まずダミー列をつくる。重複キーとしたい列を代入する
    data['Dummy'] = data.k2
    - groupbyを使って削除
    data.groupby(["Dummy"]).filter(lambda x:x.shape[0] == 1)

### 2つのシリーズで一方が一方に含まれるか
a = pd.Series(['a', 'b', 'x'])
ilist = pd.Series(['a', 'b'])
print(a.isin(ilist))
# aのなかの'a', 'b'はリストにあるが、'x'はない



####################
# その他

# 欠損値の有無を調べる
import pandas as pd
import numpy as np
from collections import Counter
x = pd.Series(['California', 'Ohio', 'Oregon', 'Texas', np.nan])
Counter(pd.isnull(x))
# pd.isnull(x) で個々のスカラが欠損値かどうかのブール値をかえす

# ゆるふわPandasチートシート
https://qiita.com/tanemaki/items/2ed05e258ef4c9e6caac

# 重複しているものを抽出する

In [11]:
import pandas as pd

df = pd.DataFrame({'A': range(11), 'checksum': [0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0]})
df

     A  checksum
0    0         0
1    1         0
2    2         1
3    3         0
4    4         1
5    5         1
6    6         1
7    7         1
8    8         0
9    9         1
10  10         0

In [12]:
consecutive = 2
    ix = df.loc[df['checksum'].rolling(consecutive).sum() == consecutive].index
    for x in ix:
        print(df.loc[x - consecutive + 1:x])

   A  checksum
4  4         1
5  5         1
   A  checksum
5  5         1
6  6         1
   A  checksum
6  6         1
7  7         1

In [13]:
ix

Int64Index([5, 6, 7], dtype='int64')

# for loop

In [2]:
from pandas import DataFrame
data = DataFrame({'X': [1, 2, 3], 'Y': [100, 200, 300]}, index=['a', 'b', 'c'])
data

   X    Y
a  1  100
b  2  200
c  3  300

In [3]:
#====== iterrows =======
# 縦方向にループ
 
for i, v in data.iterrows():
    print (i, v['X'], v['Y'])    # v は Series

a 1 100
b 2 200
c 3 300

In [4]:
#====== iteritems ======
# 横方向にループ
 
for i, v in data.iteritems():
    print (i, v['a'], v['b'], v['c'])   # v は Series

X 1 2 3
Y 100 200 300