In [9]:
! explorer .

##  テストデータの作成

### 時系列データ

In [2]:
import pandas as pd
import datetime,time

In [46]:
i=0
li=[datetime.datetime.now(),i]
df = pd.DataFrame([li])

for i in range(300):
    time.sleep(1)
    i=i+1
    li=[datetime.datetime.now(),i]
    df=df.append([li], ignore_index=True)
df.columns=["time", "value"]
df.to_csv("test.csv")
df

                          time  value
0   2018-04-29 19:51:47.291724      0
1   2018-04-29 19:51:48.293639      1
2   2018-04-29 19:51:49.298578      2
3   2018-04-29 19:51:50.301232      3
4   2018-04-29 19:51:51.303521      4
5   2018-04-29 19:51:52.309442      5
6   2018-04-29 19:51:53.315551      6
7   2018-04-29 19:51:54.320570      7
8   2018-04-29 19:51:55.323944      8
9   2018-04-29 19:51:56.328414      9
10  2018-04-29 19:51:57.332384     10
11  2018-04-29 19:51:58.334710     11
12  2018-04-29 19:51:59.336071     12
13  2018-04-29 19:52:00.340997     13
14  2018-04-29 19:52:01.346383     14
15  2018-04-29 19:52:02.349517     15
16  2018-04-29 19:52:03.354854     16
17  2018-04-29 19:52:04.358559     17
18  2018-04-29 19:52:05.364217     18
19  2018-04-29 19:52:06.369259     19
20  2018-04-29 19:52:07.374943     20
21  2018-04-29 19:52:08.380116     21
22  2018-04-29 19:52:09.386740     22
23  2018-04-29 19:52:10.389873     23
24  2018-04-29 19:52:11.393642     24
25  2018-04-29 19:52:12.399525     25
26  2018-04-29 19:52:13.405066     26
27  2018-04-29 19:52:14.408425     27
28  2018-04-29 19:52:15.413691     28
29  2018-04-29 19:52:16.418750     29
..                         ...    ...
271 2018-04-29 19:56:19.669723    271
272 2018-04-29 19:56:20.675005    272
273 2018-04-29 19:56:21.681294    273
274 2018-04-29 19:56:22.684316    274
275 2018-04-29 19:56:23.687368    275
276 2018-04-29 19:56:24.692544    276
277 2018-04-29 19:56:25.697571    277
278 2018-04-29 19:56:26.701335    278
279 2018-04-29 19:56:27.704363    279
280 2018-04-29 19:56:28.709653    280
281 2018-04-29 19:56:29.715636    281
282 2018-04-29 19:56:30.721539    282
283 2018-04-29 19:56:31.726593    283
284 2018-04-29 19:56:32.732512    284
285 2018-04-29 19:56:33.737955    285
286 2018-04-29 19:56:34.744859    286
287 2018-04-29 19:56:35.750309    287
288 2018-04-29 19:56:36.756057    288
289 2018-04-29 19:56:37.760702    289
290 2018-04-29 19:56:38.766678    290
291 2018-04-29 19:56:39.772280    291
292 2018-04-29 19:56:40.778712    292
293 2018-04-29 19:56:41.784449    293
294 2018-04-29 19:56:42.791010    294
295 2018-04-29 19:56:43.796525    295
296 2018-04-29 19:56:44.802038    296
297 2018-04-29 19:56:45.807354    297
298 2018-04-29 19:56:46.810645    298
299 2018-04-29 19:56:47.817002    299
300 2018-04-29 19:56:48.822885    300

[301 rows x 2 columns]

### 時系列以外

In [37]:
import pandas as pd
df = pd.DataFrame({'A':[1,2,3],
                   'B':[4,5,6],
                   'C':[7,8,9]})
df.to_csv("test.csv")
df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

## dataframe読み込み

### 時系列

#### 生データの読み込み

In [45]:
file = "test.csv"
headers=["time", "value"]
dtypes = {headers[0]:'str',
          headers[1]:'float'
         }
df=pd.read_csv(file, header=0, names=headers, dtype=dtypes)

dateTimeIndex=df
dateTimeIndex = pd.DatetimeIndex(df['time'])
df.index = dateTimeIndex#IndexをdateTimeIndexに変換
df=df.dropna()
df=df.drop("time", axis=1)
df

C:\Users\mineo\Anaconda3\envs\kabu36\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ohlc().ffill()

                      open   high    low  close
time
2018-04-29 19:52:00    0.0   12.0    0.0   12.0
2018-04-29 19:52:20   13.0   32.0   13.0   32.0
2018-04-29 19:52:40   33.0   52.0   33.0   52.0
2018-04-29 19:53:00   53.0   72.0   53.0   72.0
2018-04-29 19:53:20   73.0   92.0   73.0   92.0
2018-04-29 19:53:40   93.0  112.0   93.0  112.0
2018-04-29 19:54:00  113.0  132.0  113.0  132.0
2018-04-29 19:54:20  133.0  151.0  133.0  151.0
2018-04-29 19:54:40  152.0  171.0  152.0  171.0
2018-04-29 19:55:00  172.0  191.0  172.0  191.0
2018-04-29 19:55:20  192.0  211.0  192.0  211.0
2018-04-29 19:55:40  212.0  231.0  212.0  231.0
2018-04-29 19:56:00  232.0  251.0  232.0  251.0
2018-04-29 19:56:20  252.0  271.0  252.0  271.0
2018-04-29 19:56:40  272.0  291.0  272.0  291.0
2018-04-29 19:57:00  292.0  300.0  292.0  300.0

#### リサンプリング

In [46]:
ohlc = df.resample("20s", how="ohlc", closed="right", label="right", fill_method="ffill")
ohlc.columns = ['open', 'high', 'low', 'close']
ohlc

C:\Users\mineo\Anaconda3\envs\kabu36\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ohlc().ffill()
  """Entry point for launching an IPython kernel.

                      open   high    low  close
time
2018-04-29 19:52:00    0.0   12.0    0.0   12.0
2018-04-29 19:52:20   13.0   32.0   13.0   32.0
2018-04-29 19:52:40   33.0   52.0   33.0   52.0
2018-04-29 19:53:00   53.0   72.0   53.0   72.0
2018-04-29 19:53:20   73.0   92.0   73.0   92.0
2018-04-29 19:53:40   93.0  112.0   93.0  112.0
2018-04-29 19:54:00  113.0  132.0  113.0  132.0
2018-04-29 19:54:20  133.0  151.0  133.0  151.0
2018-04-29 19:54:40  152.0  171.0  152.0  171.0
2018-04-29 19:55:00  172.0  191.0  172.0  191.0
2018-04-29 19:55:20  192.0  211.0  192.0  211.0
2018-04-29 19:55:40  212.0  231.0  212.0  231.0
2018-04-29 19:56:00  232.0  251.0  232.0  251.0
2018-04-29 19:56:20  252.0  271.0  252.0  271.0
2018-04-29 19:56:40  272.0  291.0  272.0  291.0
2018-04-29 19:57:00  292.0  300.0  292.0  300.0

### 時系列以外

In [38]:
file = "test.csv"
headers = ['a', 'b', 'c']
dtypes = {headers[0]:'float',
          headers[1]:'str', 
          headers[2]:'str'
         }
df=pd.read_csv(file, header=1, names=headers, dtype=dtypes)
df

     a  b  c
1  2.0  5  8
2  3.0  6  9

# DataFrame や Series の重複データをチェック・削除－python
http://ailaby.com/duplicated/

# 重複しているものを抽出する

In [6]:
import pandas as pd

df = pd.DataFrame([[1,1],[2,2]])

In [12]:
consecutive = 2
    ix = df.loc[df['checksum'].rolling(consecutive).sum() == consecutive].index
    for x in ix:
        print(df.loc[x - consecutive + 1:x])

   A  checksum
4  4         1
5  5         1
   A  checksum
5  5         1
6  6         1
   A  checksum
6  6         1
7  7         1

In [13]:
ix

Int64Index([5, 6, 7], dtype='int64')

# for loop

In [2]:
from pandas import DataFrame
data = DataFrame({'X': [1, 2, 3], 'Y': [100, 200, 300]}, index=['a', 'b', 'c'])
data

   X    Y
a  1  100
b  2  200
c  3  300

In [3]:
#====== iterrows =======
# 縦方向にループ
 
for i, v in data.iterrows(): #下記の場合は、X,Yの列名があり、行方向へのループ（列の場合は行名を入れる）
    print (i, v['X'], v['Y'])    # iは行または列名　v は Series

a 1 100
b 2 200
c 3 300

In [4]:
#====== iteritems ======
# 横方向にループ
 
for i, v in data.iteritems():
    print (i, v['a'], v['b'], v['c'])   # v は Series

X 1 2 3
Y 100 200 300